@charset "UTF-8";

@font-face {
    font-family: 'hotel';
    src: url('/fontes/AbhayaLibre-ExtraBold.ttf') format('truetype');
}
:root{
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-hotel: 'hotel', serif;

    --cor0: #010326;
    --cor1: #020659;
    --cor2: #084F8C;
    --cor3: #010440;
    --cor4: #e5e2ff;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);
}
html{
    scroll-behavior: smooth;
}
:target{
    scroll-margin-top: 150px;
}

body{
    background-image:linear-gradient(var(--cor0), var(--cor2));
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
header{
    height: 100px;
    color: aliceblue;
}
.cabeca{
    width: 146px;
    margin-left: 200px;
    margin-top: 30px;
}
header  h1, h2{
    text-align: center;
    font-family: var(--fonte-hotel);

    text-shadow: 1px 1px 2px black;
}
header  h1{
    font-size: 3.5em;
}

nav{

    height: 55px;
    width: 100%;
    background-image:linear-gradient(var(--cor0), var(--cor2));
    position: sticky;
    top: -1px;
    padding: 10px 0px;

    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav a{
    margin: 0px 2px;
    text-decoration: none;
    padding: 20px 20px;
    font-weight: bold;
    transition-duration: .5s;
    border-radius: 10px;
    color: aliceblue;
}
nav a:hover{
    background-color: var(--cor2);
    box-shadow: 2px 2px 3px #000000a0;
}
#reserva{
    background-color: #084F8C;
}
main{
    background-color: white;
    max-width: 1000px;
    height: 1000px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 2px 2px 3px #000000a0;
    margin-bottom: 30px;
}
.slider{
    display: block;
    margin: auto;
    height: 599px;
}

.slider li{
    list-style: none;
    position: absolute;
}
.slider img{
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    border-radius: 30px 30px 0px 0px;

    opacity: 0;
    visibility: hidden;
}
.slider input{
    display: none;
}
.slider label{
    background-color: aliceblue;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}
.slider li:nth-child(1) label{
    left: 10px;
}
.slider li:nth-child(2) label{
    left: 40px;
}
.slider li:nth-child(3) label{
    left: 70px;
}
.slider li input:checked ~ img{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}
main > article{
    margin-top: 40px ;
    padding: 0px 30px;
    text-align: justify;
}
article p{
    text-indent: 40px;
}
main > article h1{
    background-image: linear-gradient(to right, #084e8cd3, transparent);
    padding: 3px;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--cor0);
}
footer{
    padding: 20px;
    background-color: var(--cor0);
    color: aliceblue;
}
#mapa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer  address{
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.2em;
    line-height: 1.5em;   
}
